body {
  background-color: #fcfcfc !important;
}

h1 {
  color: #65cde3;
}

.links a {
  text-decoration: none;
  color: #121d20;
  text-transform: capitalize;
  padding: 14px 20px;
  background-color: #f7e10e;
  border-radius: 4px;
  margin: 10px;
}
.links a:hover,
.contact-info a:hover {
  color: #65cde3 !important;
}
.sub-header {
  color: #121d20;
  opacity: 80%;
  font-size: 18px;
}
.contact-info {
  font-size: 24px !important;
}
.contact-info a,
.contact-info address {
  color: #65cde3;
  text-decoration: none;
  font-weight: 400;
}

.croissant-photo {
  width: 550px;
  margin: 0 auto;
  display: block;
}
