body {
  background-color: #e5e5e5;
}

h1 {
  text-align: center;
  color: blueviolet;
}
a {
  text-decoration: none !important;
  color: blueviolet !important;
  text-transform: capitalize;
  padding: 14px 20px;
  border: 2px solid blueviolet;
  border-radius: 4px;
  margin: 10px;
}
.cat-photo {
  width: 300px;
  margin: 0 auto;
  display: block;
}
